@import "../../../css-config/mixins.scss";
.hero-banner {
  padding: 40px 0;
  position: relative;
  @include md {
    height: calc(100vh - 80px);
  }
  .content {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column-reverse;
    max-width: calc(100% - 20px);
    margin: 0 auto;
    position: relative;
    @include md {
      flex-direction: row;
      max-width: 1200px;
    }
    .text-content {
      color: white;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 40%;
      @include md {
        position: absolute;
        left: 50px;
        top: 50%;
        transform: translateY(-50%);
      }
      @include xxl {
        left: 0;
      }
      h1 {
        font-size: 75px;
        font-weight: 700;
        line-height: 1;
        margin-bottom: 20px;
        @include md {
          font-size: 110px;
        }
        @include lg {
          font-size: 160px;
        }
      }
      p {
        max-width: 300px;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 20px;
        @include md {
          min-width: 500px;
          font-size: 18px;
          line-height: 24px;
          margin-bottom: 40px;
        }
      }
      .ctas {
        display: flex;
        justify-content: center;
        gap: 20px;
        .banner-cta {
          text-transform: uppercase;
          font-size: 13px;
          font-weight: 700;
          padding: 10px 20px;
          cursor: pointer;
          color: white;
          border-radius: 5px;
          animation: colorTransition 1s infinite alternate;
          &:hover {
            opacity: 0.6;
          }
        }
      }
    }
    .image-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 60%;
      .prev-button {
        cursor: pointer;
      }
      .banner-img {
        z-index: 9;
        width: 200px;
        height: 200px;
        @include md {
          width: 300px;
          height: 300px;
        }
        @include lg {
          width: 400px;
          height: 400px;
        }
      }
    }
  }
}
