@import "../../../css-config/mixins.scss";

.new-category-overlay {
  @include overlay-styles;
}

.new-category-main {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.main-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  span {
    color: #5755d6;
    font-weight: 600;
  }
  .close-icon {
    cursor: pointer;
    font-size: 24px;
  }
}

input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}
