@import "../../../css-config/mixins.scss";
.signup-main {
  margin: 20px 10px;
  @include md {
    margin: 40px 200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 10px 5px 20px 5px;
    border-radius: 10px;
  }
  .top-section {
    text-align: center;
    @include md {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    span {
      color: #5755d6;
      cursor: pointer;
    }
  }
  .form-fields {
    background: #fff;
    @include md {
      padding: 20px;
      border-radius: 8px;
    }
    .input-fields {
      @include md {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .input-element {
          @include md {
            width: 48%;
          }
          label {
            display: block;
            margin-bottom: 8px;
          }

          input {
            padding: 8px;
          }
          .password-toggle {
            bottom: 28px;
            @include md {
              bottom: 37px;
            }
          }
        }
      }
    }
    button {
      margin: auto;
      display: flex;
      width: 100%;
      justify-content: center;
      text-transform: uppercase;
      background-color: #5755d6;
      color: white;
      border: none;
      padding: 5px;
      cursor: pointer;
    }
  }
}
