@import "../../css-config/mixins.scss";

.main-header {
  padding: 0 20px;
  background-color: #212121;
  color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  z-index: 99;
  @include md {
    padding: 0 40px;
  }
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    max-width: 1200px;
    margin: 0 auto;
    @include lg {
      height: 80px;
    }
    .left {
      .left-first {
        list-style-type: none;
        display: none;
        gap: 25px;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        cursor: pointer;
        @include lg {
          display: flex;
        }
      }
      .left-second {
        @include lg {
          display: none;
        }
        .menu-icon {
          font-size: 40px;
          cursor: pointer;
        }
        .mobile-menu {
          background-color: #302f2f;
          padding: 10px;
          margin-bottom: 5px;
          cursor: pointer;
          .menu-items {
            padding: 5px;
            &:hover {
              background-color: #212121;
            }
          }
        }
      }
    }
    .center {
      font-size: 22px;
      font-weight: 700;
      cursor: pointer;
      @include md {
        font-size: 30px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    .right {
      display: flex;
      align-items: center;
      gap: 20px;
      @include md {
        gap: 25px;
      }
      svg {
        font-size: 20px;
        cursor: pointer;
        @include md {
          font-size: 25px;
        }
      }
      div {
        cursor: pointer;
      }
      .sign-up {
        background: #5755d6;
        padding: 2px 4px;
        border-radius: 2px;
        font-size: 14px;
        animation: colorTransition 1s infinite alternate;
      }
      .cart-icon {
        position: relative;
        span {
          min-width: 20px;
          text-align: center;
          background-color: #5755d6;
          padding: 2px;
          position: absolute;
          top: -5px;
          right: -12px;
          font-size: 12px;
          line-height: 1;
          border-radius: 10px;
        }
      }
      .profile-section {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #ffffff;
        padding: 5px;
        border-radius: 50%;
        cursor: pointer;
        img {
          width: 30px;
        }
      }
    }
  }
  &.sticky-header {
    position: sticky;
    top: 0;
    transform: translateY(-80px);
    animation: stickyHeader 0.3s ease forwards;
  }
}

@keyframes stickyHeader {
  from {
    transform: translateY(-80px);
  }
  to {
    transform: translateY(0);
  }
}
