@import "../../../css-config/mixins.scss";
.profile-dropdown {
  position: relative;
  .dropdown-content {
    position: absolute;
    right: 0%;
    width: 180px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 100;
    padding: 10px;
    font-weight: 500;
    div {
      display: flex;
      align-items: center;
      padding: 8px 12px;
      gap: 20px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #f0f0f0;
      }

      svg {
        font-size: 18px;
      }
    }
  }
  &.sticky-header {
    position: sticky;
    top: 80px;
    transform: translateY(-80px);
    animation: stickyHeader 0.3s ease forwards;
    z-index: 99;
  }
}
